@import '../../Utils//variables.scss';
.Header-container{
    background-color: $primary-background;
    height: 60px;
    display: flex;
    justify-content: space-around;
    @media only screen and (max-width: 991px) {
       height: 5em;
    } 
    .Header{ 
        .Header-logo{
            float: left;
            margin-top: 10px;
            display: inline-block;
            width: 2em;
            @media only screen and (max-width: 991px) {
                margin-left: 1em;
            }  
        }
        h3{
            margin: 0;
            float: left;
            margin-left: 20px;
            margin-top: .75em;
            color: $white;
            letter-spacing: 1px;
            font-size: 2em;
            span{
                font-weight: normal;
                font-size: 0.75rem;
                @media only screen and (max-width: 991px) {
                    display: none;
                } 
            }
            @media only screen and (max-width: 991px) {
                margin-left: 1em;
                margin-left: 0.5em;
                font-size: 1.5em;
            }    
        }
    }
}