@import '../../Utils//variables.scss';
.Header-container{
    background-color: $primary-background;
    height: 60px;
    display: flex;
    justify-content: space-around;
    @media only screen and (max-width: 991px) {
       height: 4em;
       .container{
           padding: 0.5em 0 0 0;
       }
    } 
    .Header{ 
        .Header-logo{
            float: left;
            margin: 5px 0;
            display: inline-block;
            width: 2em;
            @media only screen and (max-width: 991px) {
                margin: 0em .25em 1em .5em;
            }  
        }
        h3{
            margin: 0;
            float: left;
            margin-left: 10px;
            margin-top: .25em;
            color: $white;
            letter-spacing: 1px;
            font-size: 2em;
            font-weight: 500;
            span{
                font-weight: normal;
                font-size: 0.75rem;
                @media only screen and (max-width: 991px) {
                    display: none;
                } 
            }
            @media only screen and (max-width: 991px) {
                margin-left: 0.5em;
                font-size: 1.5em;
            }    
        }
    }
}