@import '../../Utils//variables.scss';
.Nav-container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    max-height: 4em;
    box-shadow: 0 2px 3px rgba(10,10,10,.1);
    margin: auto;
    @media only screen and (max-width: 991px) {
        .container{
            padding: 0 0 0 1em;
        }
    }
    ul.Navbar {
        list-style: none;
        display: inline-flex;
        padding-left: 0;
        margin: 0;
        &.left{
            float: left;
        }
        &.right{
            float: right;
        }
        li{
            font-size: 1em;
            margin-right: 1em;
            padding: 1em 5px;
            a{
                text-decoration: none;
                color: $primary-background;
            }
            &:hover{
                background-color: $primary-background;
                a{
                    color: $white;
                }
            }
        }
        li.Page-number{
            margin-left: auto;
            margin-right: auto;
            .static-text{
                background-color: $primary-background;
                padding: .5em;
                border-radius: 5px 0 0 5px;
                color: $white;
            }
            .number{
                padding: .5em;
                border-radius: 0 5px 5px 0;
                background-color: grey;
                // opacity: 0.5;
                color: $white;
            }
            &:hover{
                background-color: unset;
            }
        }
        @media only screen and (max-width: 991px) {
            li {
                margin-right: .5em;
                padding-left: 5px;
                padding-right: 5px;
                font-size: 1.25em;
                a{
                    text-decoration: none;
                }
                &:hover{
                    background-color: $primary-background;
                    a{
                        color: $white;
                    }
                }
                &:focus{
                    background-color: $primary-background;
                    a{
                        color: $white;
                    }
                }
            }
            li.Page-number{
                position: absolute;
                right: .5em;
                top: 0em;
                .static-text{
                    background-color: $white;
                    padding: .25em;
                    border-radius: 5px 0 0 5px;
                }
                .number{
                    padding: .25em;
                    border-radius: 0 5px 5px 0;
                    background-color: grey;
                    // opacity: 0.5;
                    color: $white;
                }
            }
        }
      }
}