@import '../../Utils//variables.scss';
.Nav-container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    max-height: 4em;
    box-shadow: 0 2px 3px rgba(10,10,10,.1);
    margin: auto;
    ul.Navbar {
        list-style: none;
        display: inline-flex;
        padding-left: 0;
        &.left{
            float: left;
        }
        &.right{
            float: right;
        }
        li{
            font-size: 1.25em;
            margin-right: 1em;
            padding-bottom: 1.6em;
            a{
                text-decoration: none;
                color: $primary-background;
            }
            &:hover{
                border-bottom: 3px solid #5cdb95;
                padding-bottom: 1.6em;
            }
        }
        li.Page-number{
            margin-left: auto;
            margin-right: auto;
        }
        @media only screen and (max-width: 991px) {
            li {
                margin-right: 1em;
                font-size: 1.25em;
                a{
                    text-decoration: none;
                }
                &:hover{
                    border-bottom: 1px solid $primary-background;
                }
            }
            li.Page-number{
                position: absolute;
                right: 1em;
                top: 1.75em;
            }
        }
      }
}