.App {
  text-align: center;
  display: block;
  overflow: hidden;
  width: 100vw;
}
.containers{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  @media only screen and (max-width: 1024px) {
    margin-top: unset;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
