@import './utils/variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container{
  width: 1152px;
  max-width: 1152px;
  @media only screen and (max-width: 1024px) {
    max-width: 1025px;
    padding: 1em;
    overflow: hidden;
    width: 100vw;
}
}
